

        #car {
            position: absolute;
            top: 100px;
            left: 100px;
            animation-name: drive;
            animation-duration: 8s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
        }


        @keyframes drive {

            0%{
                top: 100px;
                left: 100px;
            }

            25%{
                top: 100px;
                left: 800px;
            }
            50%{
                transform: rotate(50deg);
                left: 800px;
                top: 800px;
            }
            75%{
                transform: rotate(200deg);
                top: 860px;
                right: 1100px;
            }
            100%{
                transform: rotate(350deg);
                top: 100px;
            }

        }